body {
		font-family: Verdana;
		font-size: 20px;
		color: purple;
	}

nav {
		text-align:center;
		margin: 2% 0% 2% 0;
		border-color: purple;
		font-family: Verdana;

	}

	.title {
			font-weight:lighter;
			font-family: helvetica;
		}

		.name{
				font-weight:lighter;
				font-family: helvetica;
				font-size: 60px;
				margin: 40% 0% 20% 2%
			}
			.name1{
				font-weight:lighter;
				font-family: helvetica;
				font-size: 60px;
				margin: 40% 0% 0% 2%
			}
			.name2{
				font-weight:lighter;
				font-family: helvetica;
				font-size: 60px;
				margin: 10% 0% 10% 2%
			}

button {
			width:20%;
			background-color:white;
			color: gray;
			border:2em;
			border-color:white;
			font-size:30px;
			font-weight: bolder;

		}
.img  {
			margin: 2% 0% 0% 20%

		}

	a:link {
			text-decoration: none; 
			color: purple;
		}